<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>添加商品</h2>
    <form method="post" action="">
        <p>
            商品名:
            <input type="text" name="goods_name">
        </p>
        <p>
            单价:
            <input type="text" name="goods_price">
        </p>
        <p>
            库存数量:
            <input type="text" name="goods_stock">
        </p>
        <p>
            折扣：
            <input type="text" name="discount">
        </p>
        <p>
            商品图片：
            <input type="text" name="goods_img">
        </p>
        <p>
            商品描述：
            <input type="text" name="goods_info">
        </p>
        <p>
            是否展示到用户(填true或false)：
            <input type="text" name="on_show">
        </p>
        <p>
            <button type="submit">注册</button>
            <button type="reset">重置</button>
        </p>
    </form>
</body>
</html>