
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<a href="register_admin">注册</a>
<div>
    <form method="post" action="login">
        <p>
            用户名:
            <input type="text" name="admin_name">
        </p>
        <p>
            密码:
            <input type="password" name="admin_password">
        </p>
        <p>
            <button type="submit">登录</button>
            <button type="reset">重置</button>
        </p>
    </form>
</div>
</body>
</html>