<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="register">
        <p>
            注册用户名:
            <input type="text" name="admin_name">
        </p>
        <p>
            设置密码:
            <input type="password" name="admin_password1">
        </p>
        <p>
            确认密码:
            <input type="password" name="admin_password2">
        </p>
        <p>
            找回密码提示
            您的手机号码：
            <input type="number" name="phone">
        </p>
        <p>
            <button type="submit">注册</button>
            <button type="reset">重置</button>
        </p>
    </form>
</div>
</body>
</html>

